html
{
    background-color: lightgrey;
}

@media (min-width: 600px) {
    body {
      padding: 2rem;
    }
  }
body, input[text] {
    color: #333;
    font-family: Cambria, Georgia, serif;
  }
  .spacer {
    flex: 1 1 auto;
  }